# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#!/Arnold_Windows/bin/*
#!/Arnold_Windows/lib/*

!/libs/libcurl/bin/*
!/libs/libcurl/lib/*

*.pro.user

# Python ===
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm
/Scripts/.idea

.DS_Store
